# commiting package-lock.json makes GitHub slopbot send in pointless pull requests
# hence ignore package-lock.json altogether. it doesn't matter what versions are
# installed, themes are shipping JSON, not TS or JS.
# it is also ignored in .gitignore.
package-lock=false
